/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav
{
    padding: 0;
    border: none;
    width: 230px;
}

a.nounderline
{
    text-decoration: none;
}

.table td.center
{
    text-align: center;
}

.dropdown-menu
{
    max-height: 600px;
    overflow-y: auto;
}

.new_item a {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    border-bottom: solid 1px #000;
}

.lab {
    display: inline-block;
    width: 70px
}

.checkbox {
    width: 50px !important;
    margin-left: -15px !important;
}

.inline {
    display: inline-block;
}

.hint {
    font-size: 16px;
}
